
.close-icon{
    display: none;
}
input[type="checkbox"]:checked + label .menu-icon {
    display: none;
}

input[type="checkbox"]:checked + label .close-icon {
    display: inline;
}
@media (max-width: 952px){
    .active a{
        font-size: 20px;
    }
    nav ul li a{
        justify-content: center;
    }
}
@media(max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--background-color2);
        top: 50px;
        left: -100%;
        text-align: center;
        flex-direction: column;
        align-items: center;
        transition: all .5s;

    }
    nav ul li{
        justify-content: center;
        align-items: center;
    }
    nav ul li a{
        display: inline-block;
        flex-direction: column;
        align-items: center;
    }
    #check:checked~ul{
        left: 0;
    }
    .mobile-logo{
        display: flex;
        
    }
    .social-icons{
        display: none;
    }
    .center-div{
        display: inline-block;
        justify-content: center;
        margin: 2rem auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .box-div{
        display: flexbox;
        flex-direction: row;
        border: 2px solid var(--text-color1);
        padding: 1rem 1rem 1rem 1rem;
        width: 300px;
        margin: 0 auto;
    }
    .vid-list {
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .vid-list {
        width: 45%;
    }
    .index-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: .3rem;
        padding: 3rem;
    }

    .index-content, .circle-image {
        max-width: 100%;
        text-align: center;
    }

    .profile-pic {
        width: 150px;
        height: 150px;
    }

    .index-content h1 {
        font-size: 3rem;
    }
    .greeting-wrapper {
    width: 180px;
    text-align:end;
    }
    main{
        margin: .4rem;
        padding: .2rem;
    }
}
@media (max-width: 768px) {
    .vid-list {
        width: 100%;
    }
    .profile-pic {
        width: 120px;
        height: 120px;
    }

    .index-content h1 {
        font-size: 2.5rem;
    }
    .index-container {
        padding: 2rem;
    }
    .line-container a,.line-container p{
    margin-top: 5.5px;
    margin-left: .3rem;
    }
    main{
        margin:.3rem;
        padding: .1rem;
    }
    
    .index-content p{
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: "Roboto", system-ui;
    font-weight: 100;
    font-style: normal;

}
}