.social-icons{
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}
.social-icons a{
    border-radius: 50%;
    width: 20px;
    height: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
    flex: 2;
}
.social-icons a svg{
    height: 20px;  
}
.social-icons a svg:hover{
    transform: scale(1.4);
}
.social-icons svg path {
    fill: white !important; 
}
.lightmode .social-icons svg path {
    fill: black !important; 
}

