.social-icons{
    display: flex;
    gap: 12px;
}
.social-icons a{
    display: flex;
}
.social-icons a svg{
    height: 20px;  
  }
  .social-icons a svg:hover{
    transform: scale(1.4);
    transition: transform 0.2s ease-out;
  }
  .social-icons-mobile{
    display: flex;
    padding-right: 1rem;
    gap: 5px;
  }
  .social-icons-mobile a{
    display: flex;
  }