@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
  --background-color: #212121;
  --background-color2: #070b1d;
  --background-color3: #0d1f3949;
  --text-color1: #ffffff;
  --text-color2: #a4a5b8;
  --link-color: #58bc82;
  --linkhover-color: blue;
  --opphover-color: white;
  --button-color3: #f8f7ff;
  --button-color1: #0071ff;
  --button-color4: #0071ff;
  --button-color2: #3a435d;
  --root-shadow-color: hsla(0, 26%, 18%, 0.02);
  --svg-fill-color: white;
}

  /*Body*/
body {
    font-family: "Inter", system-ui;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color1);
    display: flex;
    flex-direction: column;
    transition: all 1s fade;
}
/*Header*/
.header-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color2);
    padding: 1.3rem 1.3rem ;
    transition: top 0.3s;
}
/*Navigation Bar*/
nav{

    display: flex;
    background-color: var(--background-color2);
    z-index: 999;
}
.active a{
    color: var(--text-color1);
    font-size: 35px;
    font-family: "Protest Guerrilla", sans-serif;
    padding-right: 10px;
}
.active a:hover{
    color: var(--opphover-color);
    background-color: var(--background-color2);
}
.mobile-logo{
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color2);
}
.mobile-logo a{    
    color: var(--text-color1);
    font-size: 20px;
    font-family: "Protest Guerrilla", sans-serif;
    background-color: var(--background-color2);
    padding-left: 1rem;
}
.mobile-logo a:hover{
    color: var(--opphover-color);
    background-color: var(--background-color2);
}
nav ul{
    float: left;
    list-style: none;
    display: flex;
    gap: 10px;
}
nav ul li{
    display: inline-block;
    height: 30px;
    margin: 0 5px;
}
nav ul li a{
    height: 30px;
    font-size: 17;
    padding: 5px 11px;
    border-radius: 3px;
}
nav li:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-out;
    height: 30px;
}
nav a{
    height: 100%;
    display: flex;
    align-items: center;
}
nav a:hover{
    background-color: var(--opphover-color);
    border-radius: 5px;
}
.checkbtn{
    font-size: 20px;
    float: left;
    cursor: pointer;
    line-height: 0px;
    margin-right: 40px;
    display: none;
}
#check{
    display: none;
}
/*main*/
main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
/*Horizontal lines*/
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
/*Headings*/
.top-heading{
    font-size: 50px;
    font-weight: bold;
    padding-left: 1.3rem;
    padding-top: 1rem;
}
/*Texts*/
p {
    font-family: Roboto, Arial;
}
/*links and Buttons*/
a{
    color: var(--link-color);
    text-decoration: none;
    display: inline-block;
}
a:hover{
    color: var(--linkhover-color); 
    transition: .3s;
}
.btn-class{
    display: inline-block;
    margin: 20px;
   }
.btn {
    justify-content: center;
    font-size: 17px;
    text-decoration: none;
    padding: 1em 1.3em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: var(--background-color);
    background-color: var(--text-color1);
   }
   .btn:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px var(--root-shadow-color);
    transform: scale(1.1);
   }
.btn2 {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 17px;
    background-color: var(--background-color);
    border-radius: 100px;
    font-weight: 600;
    color: var(--text-color1);
    box-shadow: 0 0 0 2px var(--text-color1);
    overflow: hidden;
    
  }
  .btn2:hover  {
    cursor: pointer;
    transform: scale(1.1);
    transition: all .2s;
  }
  .btn3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background: var(--button-color4);
    color: var(--text-color1);
    padding: 15px 20px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    letter-spacing: 0.05em;
    overflow: hidden;
    height: 2.5em;
    padding-right: 2.5em;
  }
  .btn3-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    border-radius: 0.7em;
    right: .3em;
    transition: all 0.3s;
  }
  .btn3:hover svg{
    transform: translateX(5px) rotate(45deg);
    transition: all .2s;
    box-shadow: none;
  }
hr{
    color: var(--text-color1);
    width: 100%;
}

/*Images*/
.profile-pic{
    height: 200px;
    width: 200px;
    filter: drop-shadow(2px 2px 1px var(--text-color1))drop-shadow(-2px -2px 1px var(--text-color1));
    transition: all .5s ease-out;
    border-radius: 50%;
    border:2px solid var(--text-color2);
}
.circle-image{
    display: flex;
    text-align: right;
}
/*Divs*/
.line-container-left{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    color: var(--text-color1);
}
.line-container-left a,.line-container-left p{
    margin-top: 5.5px;
    margin-left: .5rem;
}
.line-container-left h1 a{
    color: var(--text-color1);
}
.line-container-right{
    display:flex;
    justify-content: end;
}
.center-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-div svg{
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 2rem;
}
.box-div{
    border: 2px solid var(--text-color1);
    padding: 1rem 1rem 1rem 1rem;
    width: 400px;
    margin: 0 auto;
}
.project-container{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
 }
.list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
.vid-list {
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    width: 30%;
}
.thumbnail{
    width: 100%;
    border-radius: 5px;
    height: auto;
 
 }
 .project-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}
.vid-info p {
    margin-top: 5px;
    font-size: 1em;
    line-height: 1.5;
}
.read-more {
    margin-top: 10px;
}
 .vid-list .flex-div{
    align-items: flex-start;
    margin-top: 7px;
}
.vid-info{
    color: var(--text-color1);
    font-size: 15px;
    flex-basis: 49%;

}
.project-title{
    font-size: 20px;
}
.index-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: var(--background-color3);
    margin-top: .7rem;
    width: 100%;
    padding: 4rem;

}
.index-content{
    text-align: right;
    margin-right: 1rem;
}
.index-content h3 {
    font-size: 2rem;
}
.index-content h1{
    font-size: 5rem;
    margin-bottom: 15px;
}
.index-content p{
    font-size: 2rem;
    margin-bottom: 15px;
    font-family: "Roboto", system-ui;
    font-weight: 100;
    font-style: normal;
    transition: all .5s ease-in;
}
#greetings{
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.greeting-wrapper {
    display: inline-block;
    width: 200px;
    text-align: right;
}
.svg-icon{
    display: flex;
    margin: 10px;
}