@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
  --background-color: #212121;
  --background-color2: #070b1d;
  --background-color3: #0d1f3949;
  --text-color1: #ffffff;
  --text-color2: #a4a5b8;
  --link-color: #58bc82;
  --linkhover-color: blue;
  --opphover-color: white;
  --button-color3: #f8f7ff;
  --button-color1: #0071ff;
  --button-color2: #3a435d;
  --root-shadow-color: hsla(0, 0%, 0%, 0.02);
}
.lightmode{
    --background-color:#e8e8e8;
    --background-color2: #e1e4f3;
    --background-color3: #30104b13;
    --text-color1: #111528;
    --text-color2: #737890;
    --link-color: #0000ff;
    --linkhover-color: green;
    --opphover-color: #212121;
    --button-color1: #d0bce2;
    --button-color2: #3a435d;
    --button-color3: #ffffff;
    --root-shadow-color: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  /*Body*/
body {
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color1);
    display: flex;
    flex-direction: column;
    font-family: "Inter", system-ui;
}
/*Header*/
.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color2);
    padding: 1rem 2rem;
}
/*Navigation Bar*/
nav{
    display: flex;
    background-color: var(--background-color2);
}
.active a{
    color: var(--text-color1);
    font-size: 35px;
    font-family: "Protest Guerrilla", sans-serif;
    padding-right: 10px;
}
.active a:hover{
    color: var(--opphover-color);
    background-color: var(--background-color2);
}
nav ul{
    float: left;
    list-style: none;
    display: flex;
    gap: 10px;
}
nav ul li{
    display: inline-block;
    height: 30px;
    margin: 0 5px;
}
nav ul li a{
    height: 30px;
    font-size: 17;
    padding: 5px 11px;
    border-radius: 3px;
}
nav li:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-out;
    height: 30px;
}
nav a{
    height: 100%;
    display: flex;
    align-items: center;
}
nav a:hover{
    background-color: var(--opphover-color);
    border-radius: 5px;
}
.checkbtn{
    font-size: 30px;
    float: left;
    cursor: pointer;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    .active{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 15px;
    }
}
@media(max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--background-color2);
        top: 100px;
        right: 0;
        text-align: center;

    }
    nav ul li a{
        display: flex;
        flex-direction: column;
    }
}
/*Horizontal lines*/
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
/*Headings*/
h1, h2, h3, h4, h5, h6 {
    margin-top: 1.2;
    margin-bottom: 1.2rem;
}
/*links*/
a{
    color: var(--link-color);
    text-decoration: none;
}
a:hover{
    color: var(--linkhover-color); 
    transition: .3s;
}
.btn {
    justify-content: center;
    position: relative;
    font-size: 17px;
    text-decoration: none;
    padding: 1em 1.3em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: var(--background-color);
    background-color: var(--text-color1);
   } 
   .btn:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px var(--root-shadow-color);
    transform: scale(1.1);
   }
   .btn-class{
    padding: 1.1rem 1.1rem 1.1rem 1.1rem;
    height: 50px;
    width: 30px;
   }
hr{
    color: var(--text-color1);
    width: 100%;
}
