/*Light and dark mode*/
.lightmode{
  --background-color: #ffffff;
  --text-color1: #111528;
  --text-color2: #232738;
  --button-color1: #0071ff;
  --button-color2: #3a435d;
}
#mode-icon{
  cursor: pointer;
  width: 35px;
  height: 35px;
  transition: opacity .5s ease;
}
#mode-icon:hover{
  transform: rotate(180deg);
  width: 38px;
  height: 38px;
  transition: transform .5s ease-in-out;
}
#theme-switch{
  position:absolute;
  top: 1.2rem;
  right: 2rem;
  display: inline-block;
  margin-left: 2rem;
}
#theme-switch img:last-child{
  display: none;
}
.lightmode #theme-switch img:first-child{
  display: none;
}
.lightmode #theme-switch img:last-child{
  display: block;
}
