/*Light and dark mode*/
.lightmode{
  --background-color:#e8e8e8;
  --background-color2: #e1e4f3;
  --background-color3: #30104b13;
  --background-color4: #3498db;
  --text-color1: #111528;
  --text-color2: #333333;
  --text-color3: #666;
  --link-color: #0000ff;
  --linkhover-color: green;
  --opphover-color: #212121;
  --button-color1: #d0bce2;
  --button-color2: #3a435d;
  --button-color3: #ffffff;
  --button-color4: #274bb7;
  --border-color1: rgba(146, 140, 140, 0.7);
  --root-shadow-color: rgb(228, 228, 228);
  --svg-fill-color: black;
}
#mode-icon{
  display: flex;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: opacity .3s ease;
}
#mode-icon:hover{
  transform: rotate(90deg) scale(1.2);
  transition: transform .3s ease-in-out;
}
#theme-switch img:last-child{
  display: none;
}
.lightmode #theme-switch img:first-child{
  display: none;
}
.lightmode #theme-switch img:last-child{
  display: block;
}
.social-icons svg path,.checkbtn svg path,.social-icons-mobile svg path,.center-div svg path,.btn3-icon svg path
,.show-more-btn svg path, .show-more-icon-btn svg path,.btn-circle svg{
  fill: var(--svg-fill-color) !important; 
}