/*Light and dark mode*/
.lightmode{
  --background-color:#e8e8e8;
  --background-color2: #e1e4f3;
  --background-color3: #30104b13;
  --text-color1: #111528;
  --text-color2: #737890;
  --link-color: #0000ff;
  --linkhover-color: green;
  --opphover-color: #212121;
  --button-color1: #d0bce2;
  --button-color2: #3a435d;
  --button-color3: #ffffff;
  --root-shadow-color: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --svg-fill-color: black;
}
body{
  transition: background-color 0.5s, color 0.5s;
}
#mode-icon{
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: opacity .4s ease;
}
#mode-icon:hover{
  transform: rotate(180deg) scale(1.4);
  transition: transform .3s ease-in-out;
}
#theme-switch{
  display: flex;
}
#theme-switch img:last-child{
  display: none;
}
.lightmode #theme-switch img:first-child{
  display: none;
}
.lightmode #theme-switch img:last-child{
  display: block;
}
.social-icons svg path,.checkbtn svg path,.social-icons-mobile svg path,
.sad-emoji svg path{
  fill: var(--svg-fill-color) !important; 
}
.lightmode .social-icons svg path{
  fill: black !important; 
}